.login_container{
  position: relative;
  overflow-y: hidden; 
  overflow-x: hidden; 
}

.login_container h1{
  display: inline;
  font-family:Serif;
  letter-spacing: 1.5px;
  font-weight: 900;
  font-size: 90px;
  margin-bottom:10px;
}
    
.login_title{
  padding-right:5px;
  text-align: center;
  margin-bottom: 50px;
}

.google_button{
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 18px;
  margin:3px;
  background-color: white;
  border-style: hidden;
  cursor: pointer;
  color: rgb(12, 6, 6);
  border-radius: 8px;
  font-size: 15px;
  width:180px;
  position: relative;
  left: 205px;
  display:inline-block;
  vertical-align: middle;
  transition: background-color .3s, box-shadow .3s;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

#text{
margin-left: 25px;
}

.or{
  font-size: 17px;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
}
.login_input {
  padding: 1rem;
  width: 560px;
  height: 60px;
  background-color: #F8F8FF;
  margin: 1.3rem;
  border-style: hidden;
  border-radius: 9px;
  font-size: 17px;
}
       
.login_email{
  position: relative;
  top: 10px;
  left: -245px;
}

.login_password{
  position: relative;
  top: 10px;
  left: 35px;
}
    
.login_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
}
     
.login_form-container {
  height: 60vh;
}
    
#login{
 margin-top: 10px;
}

#signup{
  margin-bottom: 0px;

}
.login_container_button {
  font-weight: bold;
  padding: 5px 10px;
  margin:3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  width:180px;
  position: relative;
  left: 205px;
}




@media only screen and (max-width: 768px){
  .login_container{
      position: relative;
      overflow-y: hidden; 
      overflow-x: hidden; 
      
  }
  
  .login_container h1{
    display: inline;
    font-family:Serif;
    letter-spacing: 1.5px;
    font-weight: 900;
    font-size: 90px;
    margin-bottom:10px;
  }
      
  .login_title{
    padding-right:5 ptx;
    text-align: center;
    margin-bottom: 70px;
    }
  
  .login_input {
    padding: 1rem;
    width: 300px;
    height: 50px;
    background-color: #F8F8FF;
    margin: 1.3rem;
    border-style: hidden;
    border-radius: 9px;
    font-size: 17px;
  }
           
  .login_email{
    position: relative;
    top: 10px;
    left: -117px;
  }

  .login_password{
    position: relative;
    top: 10px;
    left: 35px;
  }
      
  .login_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }  

  #google_button{
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 18px;
    margin:3px;
    background-color: white;
    border-style: hidden;
    cursor: pointer;
    color: rgb(12, 6, 6);
    border-radius: 8px;
    font-size: 15px;
    width:180px;
    position: relative;
    text-align: center;
    display:inline-block;
    vertical-align: middle;
    transition: background-color .3s, box-shadow .3s;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
  }
              
  .login_container button {
    font-weight: bold;
    padding: 5px 10px;
    margin:5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    width:180px;
    left:75px;
    position: relative;
  }

  .or{
    font-size: 17px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }
}
    